@charset "utf-8";
@import url(https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,700,900);
/*	| General |
-----------------------*/
body {
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
}
ul {
	list-style: none;
}
a:hover {
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
	text-decoration: none !important;
}
a:focus {
	outline: none;
	text-decoration: none !important;
}
p {
	font-weight: 300;
}
.pFix-L {
	padding-left: 0;
}
.clr_White {
	color: #fff !important;
}
.clr_Fuschia {
	color: #e60080 !important;
}
.clr_DimGray {
	color: #414141 !important;
}
.bg_White {
	color: #fff !important;
}
.bg_Fuschia {
	color: #e60080 !important;
}
.bg_DimGray {
	color: #414141 !important;
}
.Thin {
	font-weight: 100;
}
.Thin_Italic {
	font-weight: 100;
	font-style: italic;
}
.Light {
	font-weight: 100;
}
.Light_Italic {
	font-weight: 300;
	font-style: italic;
}
.Regular {
	font-weight: 400;
}
.Regular_Italic {
	font-weight: 400;
	font-style: italic;
}
.Medium {
	font-weight: 500;
}
.Medium_Italic {
	font-weight: 500;
	font-style: italic;
}
.Bold {
	font-weight: 700;
}
.Black {
	font-weight: 900;
}
.txt_caps {
	text-transform: uppercase;
}
.txt_center {
	text-align: center !important;
}
.text_Left {
	text-align: left !important;
}
.full_width {
	width: 100% !important;
	padding: 0 !important;
}
.brdr {
	border-bottom: 1px solid #e60080;
}
/*	| Header Starts |
------------------------*/
header {
	background-color: rgba(255, 255, 255, 0.89);
	height: auto;
	position: fixed;
	top: 0px;
	width: 100%;
	z-index: 20000;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
	-webkit-box-shadow: 0px -2px 5px 0px rgba(87,87,87,1);
	-moz-box-shadow: 0px -2px 5px 0px rgba(87,87,87,1);
	box-shadow: 0px -2px 5px 0px rgba(87,87,87,1);
}
.nav-up {
	top: -150px;
	-webkit-transition: all 0.3s ease-in;
	-moz-transition: all 0.3s ease-in;
	-o-transition: all 0.3s ease-in;
	transition: all 0.3s ease-in;
}
/* ~~~ Top_Bar ~~~ */

.top_Info {
	background-color: rgba(2, 2, 2, 0.7);
}
.top_Info .social li {
	padding-right: 10px;
}
.social {
	padding-top: 6px !important;
}
.top_Info ul li {
	display: inline-block;
	padding-left: 13px;
	font-size: 15px;
	font-weight: 900;
}
.top_Info ul li, .top_Info ul li a {
	color: #fff;
}
.top_Info ul li a:hover {
	color: #e60080;
}
/* ~~~ Navigation ~~~ */
.Navigation {
	position: relative;
	width: 100%;
	padding: 16px 0;
}
.logo {
	position: relative;
	padding: 0px;
	float: left;
}
.logo img {
	width: 80%;
}
.logo a {
	color: #6DDB07;
}
nav {
	position: relative;
	margin: 0 auto;
}
#cssmenu, #cssmenu ul, #cssmenu ul li, #cssmenu ul li a, #cssmenu #head-mobile {
	border: 0;
	list-style: none;
	line-height: 1;
	display: block;
	position: relative;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
#cssmenu ul {
	margin: 0;
	padding: 0;
	float: right;
	margin-top: 14px;
}
#cssmenu:after, #cssmenu > ul:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
#cssmenu #head-mobile {
	display: none;
}
#cssmenu {
	font-family: sans-serif;
	background-color: transparent;
}
#cssmenu > ul > li {
	float: left
}
#cssmenu > ul > li > a {
	padding: 17px;
	font-size: 15px;
	letter-spacing: 1px;
	text-decoration: none;
	color: #656764;
	font-weight: 300;
	text-transform: uppercase;
}
#cssmenu > ul > li > a {
	position: relative;
}
#cssmenu > ul > li > a:before {
	position: absolute;
	font-size: 20px;
	top: -4px;
	left: 50%;
	margin-left: -13px;
	width: 28px;
	height: 18px;
	background-repeat: no-repeat;
}
#cssmenu > ul > li:nth-child(1) > a:before {
	content: '';
	background-image: url(../images/1.png);
}
#cssmenu > ul > li:nth-child(2) > a:before {
	content: '';
	background-image: url(../images/2.png);
}
#cssmenu > ul > li:nth-child(3) > a:before {
	content: '';
	background-image: url(../images/3.png);
}
#cssmenu > ul > li:nth-child(4) > a:before {
	content: '';
	background-image: url(../images/4.png);
}
#cssmenu > ul > li:nth-child(5) > a:before {
	content: '';
	background-image: url(../images/5.png);
}
#cssmenu > ul > li:nth-child(6) > a:before {
	content: '';
	background-image: url(../images/6.png);
}
#cssmenu > ul > li:nth-child(7) > a:before {
	content: '';
	background-image: url(../images/7.png);
}
#cssmenu > ul > li:hover > a, #cssmenu ul li.active a {
	color: #e60080;
}
/*#cssmenu > ul > li:hover, #cssmenu ul li.active:hover, #cssmenu ul li.active, #cssmenu ul li.has-sub.active:hover {
	background: #448D00!important;
	-webkit-transition: background .3s ease;
	-ms-transition: background .3s ease;
	transition: background .3s ease;
}*/
#cssmenu > ul > li.has-sub > a {
	padding-right: 30px;
}
#cssmenu > ul > li.has-sub > a:after {
	position: absolute;
	top: 22px;
	right: 11px;
	width: 8px;
	height: 2px;
	display: block;
	background: #ddd;
	content: '';
}
#cssmenu > ul > li.has-sub > a:before {
	position: absolute;
	top: 19px;
	right: 14px;
	display: block;
	width: 2px;
	height: 8px;
	background: #ddd;
	content: '';
	-webkit-transition: all .25s ease;
	-ms-transition: all .25s ease;
	transition: all .25s ease;
}
#cssmenu > ul > li.has-sub:hover > a:before {
	top: 23px;
	height: 0;
}
#cssmenu ul ul {
	position: absolute;
	left: -9999px;
}
#cssmenu ul ul li {
	height: 0;
	-webkit-transition: all .25s ease;
	-ms-transition: all .25s ease;
	background: #333;
	transition: all .25s ease;
}
#cssmenu ul ul li:hover {
}
#cssmenu li:hover > ul {
	left: auto;
}
#cssmenu li:hover > ul > li {
	height: 35px
}
#cssmenu ul ul ul {
	margin-left: 100%;
	top: 0
}
#cssmenu ul ul li a {
	border-bottom: 1px solid rgba(150,150,150,0.15);
	padding: 11px 15px;
	width: 170px;
	font-size: 12px;
	text-decoration: none;
	color: #ddd;
	font-weight: 400;
}
#cssmenu ul ul li:last-child > a, #cssmenu ul ul li.last-item > a {
	border-bottom: 0;
}
#cssmenu ul ul li:hover > a, #cssmenu ul ul li a:hover {
	color: #fff
}
#cssmenu ul ul li.has-sub > a:after {
	position: absolute;
	top: 16px;
	right: 11px;
	width: 8px;
	height: 2px;
	display: block;
	background: #ddd;
	content: ''
}
#cssmenu ul ul li.has-sub > a:before {
	position: absolute;
	top: 13px;
	right: 14px;
	display: block;
	width: 2px;
	height: 8px;
	background: #ddd;
	content: '';
	-webkit-transition: all .25s ease;
	-ms-transition: all .25s ease;
	transition: all .25s ease
}
#cssmenu ul ul > li.has-sub:hover > a:before {
	top: 17px;
	height: 0
}
#cssmenu ul ul li.has-sub:hover, #cssmenu ul li.has-sub ul li.has-sub ul li:hover {
	background: #363636;
}
#cssmenu ul ul ul li.active a {
	border-left: 1px solid #333
}
#cssmenu > ul > li.has-sub > ul > li.active > a, #cssmenu > ul ul > li.has-sub > ul > li.active> a {
	border-top: 1px solid #333
}
/* ~~~ banner ~~~ */

.banner_cnr {
	position: relative;
}
#basket {
	background: transparent;
	position: fixed;
	right: -6px;
	bottom: 55px;
	z-index: 1000;
	-webkit-transition: all 0.6s ease-out;/* Safari 3.2+, Chrome */
	-moz-transition: all 0.6s ease-out;/* Firefox 4-15 */
	-o-transition: all 0.6s ease-out;/* Opera 10.5-12.00 */
	transition: all 0.6s ease-out;/* Firefox 16+, Opera 12.50+ */
}
#items {
	position: absolute;
	top: 0px;
	right: 6px;
	font-size: 1.4em;
	font-weight: bold;
	padding: 14px 38px 8px 6px;
	background: url(images/cart.png) right top no-repeat;
}
#products {
	margin: 0;
	padding: 0;
	list-style: none;
}
#products li {
	width: 126px;
	margin: 0 25px 25px 0;
	float: left;
	padding: 10px;
	border: solid 2px #ddd;
	-moz-border-radius: 12px;
	-webkit-border-radius: 12px;
	border-radius: 12px;
	text-align: center;
}
.end {
	margin-right: 0 !important
}
/* =Multi page demo
--------------------------------------------------------------------------*/
#right {
	width: 200px;
	float: left;
}
#left {
	width: 178px;
	height: 800px;
	float: left;
	border: solid 1px red;
	position: relative;
	padding: 10px;
}
#middle {
	width: 400px;
	float: left;
	height: 2000px;
}
.quick_Order {
	right: -6px;
	z-index: 10000;
	width: 192px;
	height: 172px;
	-webkit-transition: all 0.6s ease-out;/* Safari 3.2+, Chrome */
	-moz-transition: all 0.6s ease-out;/* Firefox 4-15 */
	-o-transition: all 0.6s ease-out;/* Opera 10.5-12.00 */
	transition: all 0.6s ease-out;/* Firefox 16+, Opera 12.50+ */
}
.quick_Order:hover {
	display: block;
	cursor: pointer;
	-moz-transform: rotate(3deg) scale(1, 1) skewX(0deg) skewY(0deg) translate(0px, 0px);/* FF3.5+ */
	-webkit-transform: rotate(3deg) scale(1, 1) skew(0deg, 0deg) translate(0px, 0px);/*Saf3.1+, Chrome*/
	-o-transform: rotate(3deg) scale(1, 1) skew(0deg, 0deg) translate(0px, 0px);/* Opera 10.5 */
	-ms-transform: rotate(3deg) scale(1, 1) skew(0deg, 0deg) translate(0px, 0px);/* IE 9 */
	transform: rotate(3deg) scale(1, 1) skew(0deg, 0deg) translate(0px, 0px);
	-webkit-transition: all 0.6s ease-in;/* Safari 3.2+, Chrome */
	-moz-transition: all 0.6s ease-in;/* Firefox 4-15 */
	-o-transition: all 0.6s ease-in;/* Opera 10.5-12.00 */
	transition: all 0.6s ease-in;/* Firefox 16+, Opera 12.50+ */
}
/* ~~ qo ~~ */
.quick_Order2 {
	right: -6px;
	z-index: 10000;
	width: 192px;
	height: 172px;
	-webkit-transition: all 0.6s ease-out;/* Safari 3.2+, Chrome */
	-moz-transition: all 0.6s ease-out;/* Firefox 4-15 */
	-o-transition: all 0.6s ease-out;/* Opera 10.5-12.00 */
	transition: all 0.6s ease-out;/* Firefox 16+, Opera 12.50+ */
}
.quick_Order2:hover {
	-moz-transform: rotate(3deg) scale(1, 1) skewX(0deg) skewY(0deg) translate(0px, 0px);/* FF3.5+ */
	-webkit-transform: rotate(3deg) scale(1, 1) skew(0deg, 0deg) translate(0px, 0px);/*Saf3.1+, Chrome*/
	-o-transform: rotate(3deg) scale(1, 1) skew(0deg, 0deg) translate(0px, 0px);/* Opera 10.5 */
	-ms-transform: rotate(3deg) scale(1, 1) skew(0deg, 0deg) translate(0px, 0px);/* IE 9 */
	transform: rotate(3deg) scale(1, 1) skew(0deg, 0deg) translate(0px, 0px);
	-webkit-transition: all 0.6s ease-in;/* Safari 3.2+, Chrome */
	-moz-transition: all 0.6s ease-in;/* Firefox 4-15 */
	-o-transition: all 0.6s ease-in;/* Opera 10.5-12.00 */
	transition: all 0.6s ease-in;/* Firefox 16+, Opera 12.50+ */
}
.offers {
	position: absolute;
	top: 50%;
	z-index: 1000;
	left: 50%;
	margin-left: -370px;
	margin-top: -200px;
}
.offer_Content {
	width: 340px;
	height: 340px;
	background: rgba(2, 2, 2, 0.8);
	border-radius: 50%;
	text-align: center;
	padding: 60px 9px;
}
.offer_Content h3 {
	margin: 0;
	padding: 22px 15px;
}
.offer_Content h3 a {
	font-size: 35px;
	font-weight: 100;
	color: #fff;
	text-transform: uppercase;
	line-height: 42px;
}
.offer_Content .rose {
	color: #e60080;
	font-weight: 900;
}
.white {
	color: #fff;
	font-weight: 900;
}
.offer_Content h3 a:hover {
	cursor: pointer;
	color: #e60080 !important;
}
/* ~~~ intro  ~~~ */
.main_Intro {
	padding: 42px 0 75px;
	text-align: center;
}
.main_Intro h1 {
	font-weight: 900;
	font-size: 50px;
	color: #333333;
	text-transform: uppercase;
}
.main_Intro h1 span {
	font-weight: 100;
}
.main_Intro h2 {
	color: #e60080;
	font-weight: 300;
	font-style: italic;
	font-size: 23px;
	line-height: 35px;
	margin-bottom: 30px;
}
.main_Intro h2 span {
	font-weight: 700;
}
.narration {
	width: 75%;
	margin: 0 auto;
}
.main_Intro p {
	line-height: 30px;
	font-size: 16px;
	color: #333333;
	padding: 0 15px;
	margin: 0;
}
/* ~~~  /order_Online / ~~~ */
.order_Online {
	padding: 42px 0;
}
.order_head {
	text-align: center;
	padding: 15px 0;
	color: #e60080;
	font-weight: 700;
	text-transform: uppercase;
	margin: 0;
	border-bottom: 1px solid #fff;
	margin-bottom: 25px;
}
.order_head span {
	color: #414141;
	font-weight: 100;
}
.order_Online p {
	color: #414141;
	line-height: 30px;
	font-size: 16px;
}
.order_Online p span {
	font-weight: 900;
}
.order_Btn {
	width: 200px;
	height: 50px;
	color: #fff;
	border: none;
	background-color: #e60080;
	border-radius: 5px;
	margin-top: 30px;
	font-size: 20px;
	font-weight: 300;
}
.order_Btn:hover {
	background-color: #020202b3;
	-webkit-transition: background 0.3s ease-in;/* Safari 3.2+, Chrome */
	-moz-transition: background 0.3s ease-in;/* Firefox 4-15 */
	-o-transition: background 0.3s ease-in;/* Opera 10.5-12.00 */
	transition: background 0.3s ease-in;/* Firefox 16+, Opera 12.50+ */
}
.order_onln_img {
	text-align: center;
}
/* ~~~ video ~~~ */
.video_cntr {
	padding: 0px;
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=7, Direction=180, Color=#dfdfdf)";/*IE 8*/
	-moz-box-shadow: 0px 1px 7px #dfdfdf;/*FF 3.5+*/
	-webkit-box-shadow: 0px 1px 7px #dfdfdf;/*Saf3-4, Chrome, iOS 4.0.2-4.2, Android 2.3+*/
	box-shadow: 0px 1px 7px #dfdfdf;/* FF3.5+, Opera 9+, Saf1+, Chrome, IE10 */
 filter: progid:DXImageTransform.Microsoft.Shadow(Strength=7, Direction=180, Color=#dfdfdf); /*IE 5.5-7*/
	background-color: #fff;
}
/* ~~~ Special ~~~*/ 
.inner_Head {
	background-color: #fff !important;
}
.c_Special {
	padding: 38px 0;
}
.c_Special_cnr {
	background-color: #ece6d2;
	float: left;
	width: 100%;
}
.c_Special_cnr img {
	float: left;
	width: 100%;
}
.c_Spc_Head {
	position: relative;
	margin-bottom: 20px;
	padding: 26px 13px;
}
.c_Spc_Head h5 {
	color: #e60080;
	font-weight: 100;
	font-size: 40px;
	font-weight: 900;
	text-transform: uppercase;
}
.c_Spc_Head h5 span {
	font-weight: 100;
	color: #414141;
}
.title_sub {
	color: #333333;
	font-size: 16px;
	font-style: italic;
	margin-left: 10px;
}
.c_Spc_Head:before {
	content: '';
	position: absolute;
	height: 42px;
	width: 1px;
	bottom: 0px;
	background-color: #e60080;
}
.c_Spc_Content {
	padding: 0px 13px;
}
.c_Spc_Content h6 {
	color: #e60080;
	font-weight: 700;
	font-size: 23px;
	font-style: italic;
}
.c_Spc_Content p {
	padding: 0px 0px;
	font-size: 16px;
	font-weight: 400;
	color: #333333;
	font-style: italic;
	line-height: 30px;
}
.c_Spc_Content a {
	text-decoration: underline;
	color: #e60080;
}
/* ~~~ Featured Dishes ~~~ */
.featured_Dishes {
	padding: 38px 0;
}

	.dishes {
    padding: 34px;
    float: left;
    padding-right: 80px;
    padding-bottom: 55px;
    padding-top: 55px;
    border-bottom: 1px solid white;
}

.pad_zro {
	position: relative;
}
.pad_zro::after {
	content: '';
	position: absolute;
	height: 100%;
	background-color: white;
	width: 1px;
}
.fetur_Dish_hr {
	border: none;
	background-color: #fff;
	width: 100%;
	height: 1px;
	margin: 0;
	float: left;
}
.fetur_Dish_cnr {
	background-color: #e5e5e5;
	padding: 0 15px;
}
.fetur_Dish_hedr {
	background: #e5e5e5;
	text-align: center;
	padding: 15px 0;
	color: #e60080;
	font-weight: 700;
	text-transform: uppercase;
	margin: 0;
	border-bottom: 1px solid #fff;
}
.fetur_Dish_hedr span {
	color: #414141;
	font-weight: 100;
}
.dishes img {
    float: left;
    margin-right: 50px;
    width: 31%;
}
.dish_Content {
    float: left;
    padding: 10px 0;
    margin-left: 50px;
    position: relative;
    width: 46%;
}
.dish_Content:before {
	content: '';
	position: absolute;
	width: 1px;
	background-color: #a6a6a6;
	left: -50px;
	height: 100%;
}
.dish_Content h5 {
	color: #e60080;
	font-weight: 300;
	font-size: 25px;
	text-transform: uppercase;
}
.dish_Content p {
	color: #333333;
	font-weight: 400;
	font-size: 16px;
}
.dishes_Top {
	float: left;
	width: 100%;
	position: relative;
	background-color: #e5e5e5;
}
.dishes_Top:after {
	content: '';
	position: absolute;
	height: 1px;
	width: 100%;
	bottom: 0px;
	background-color: #fff;
	left: 0;
	padding: 0 26px;
}
.dishes_Top a {
	float: left;
	width: 100%;
	height: auto;
}
.dishes_Top a:hover {
	background: #fbfbfb;
}
.bdr_left {
	border-left: 1px solid #fff;
}
.bdr_btm {
	border-bottom: 1px solid #fff;
}
.pad_zro {
	padding: 0;
}
/* ~~~ Testimonial  ~~~*/
.testimonial {
	padding: 60px 0;
}
#testimonial {
	background: none repeat scroll 0 0 #fff;
	display: inline;
	float: left;
	padding: 80px 0;
	width: 100%;
	border-top: 1px solid #eee;
	border-bottom: 1px solid #eee;
}
.tsti_Bg {
	margin-top: 20px;
}
#testimonial .heading {
	margin-top: 20px;
}
.testimonial_customer {
	float: left;
	display: inline;
	width: 100%;
}
.testimonial_slider {
	float: left;
	display: inline;
	width: 100%;
}
.testimonial_slider>li {
	width: 380px;
	margin: 0 auto;
}
.testi_media {
	margin: 0 auto !important;
	width: 250px;
}
.testi_media .media-body {
	vertical-align: middle;
}
.media-heading {
	font-size: 20px;
}
.testi_media .media-body span {
	font-size: 16px;
	font-weight: bold;
	text-transform: uppercase;
}
.testi_media .media-left {
	padding-right: 20px;
}
.testi_img img {
	border-radius: 100%;
	height: 100px;
	width: 100px;
}
.testi_content {
	background-color: #fff;
	border: 1px solid #e6e6e6;
	border-radius: 6px;
	margin: 40px auto 0;
	padding: 10px;
	position: relative;
	width: 100%;
}
.testi_content:before {
	background-image: url("img/testimonial-arrow.png");
	background-position: center center;
	background-repeat: no-repeat;
	content: "";
	height: 22px;
	left: 30%;
	position: absolute;
	top: -22px;
	width: 32px;
}
.testimonial_slider .slick-dots li {
	border: 1px solid #e6e6e6;
	color: #fff;
	cursor: pointer;
	display: inline-block;
	height: 20px;
	line-height: 102px;
	margin: 0 5px;
	padding: 7px 5px;
	position: relative;
	width: 34px;
}
.testimonial_slider .slick-dots li button:before {
	content: none;
}
.testimonial_slider .slick-dots li button {
	background: none repeat scroll 0 0 #e6e6e6;
	height: 4px;
	padding: 0px;
	width: 20px;
}
.testimonials_img {
	margin-bottom: 18px;
}
.testimonials_img img {
	float: left;
}
.testimonials_img h6 {
	float: left;
	margin: 0;
	/*margin-left: 15px;*/
	font-size: 16px;
	font-weight: 900;
}
.testimonials_img h6 span {
	margin-left: 0;
}
.test-slide_head {
	position: relative;
	margin-bottom: 20px;
}
.test-slide_head h6 {
	color: #e60080;
	font-weight: 100;
	font-size: 40px;
}
.test-slide_head span {
	color: #333333;
	font-size: 16px;
	font-style: italic;
	margin-left: 10px;
}
.test-slide_head:before {
	content: '';
	position: absolute;
	height: 42px;
	width: 1px;
	bottom: -24px;
	background-color: #e60080;
}
.from_Top {
	margin-top: 145px;
}
/* ------------ Inner pages ---------*/


/* ~~~ About Us  ~~~ */
.abt_cntr {
	background-image: url(../images/asian5-about_bg.png);
	background-repeat: no-repeat;
	background-position: left top;
	background-color: #e60080;
	padding: 73px 0px;
}
.abt_Cont {
	padding-left: 38px;
	float: left;
	width: 100%;
}
.abt_Cont p {
	color: #fff;
	font-size: 16px;
	font-weight: 400;
}
.abt_Cont h4 {
	color: #ffcbe8;
	font-weight: 100;
	font-style: italic;
	font-size: 24px;
	margin: 19px 0 30px;
	float: left;
	width: 100%;
}
.right_align {
	float: right;
}
/* ~~ skyline ~~ */
.skylin {
	width: 100%;
	float: left;
	padding: 55px 0;
}
.skylin .sm_Caption h3:before {
	background-color: #e60080;
}
.skylin h5 {
	font-size: 23px;
}
.skylin p {
	font-size: 16px;
	margin-top: 25px;
}
.skylin img {
	width: 100%;
}
.policy_cnr {
	background-color: #e60080;
	float: left;
	width: 100%;
	margin-top: 20px;
}
.policy_cnr img {
	width: 100%;
}
.policy_cnr p {
	padding: 0px 0px;
	font-size: 16px;
	font-weight: 400;
	color: #fff;
	line-height: 30px;
	margin-top: 30px;
}
/* ~~ team ~~*/

.team {
	border-top: 1px solid #e600804d;
	float: left;
	width: 100%;
	margin: 25px 0;
	padding: 0 0 50px;
}
.team_Member {
	margin-bottom: 25px;
	float: left;
	width: 100%;
}
.team_Member img {
	width: 100%;
}
.degtn {
	background-color: #e60080;
	color: #fff;
	padding: 0px 11px;
	float: left;
	width: 50%;
}
.degtn h6 {
	font-size: 16px;
	text-transform: uppercase;
	margin: 7px 0;
}
.team_Member p {
	width: 92%;
	float: left;
	font-size: 16px;
	padding-top: 25px;
	font-style: italic;
}
@media only screen and (min-device-width: 768px) and (max-device-width: 991px) {
.team_Member {
	height: 525px
}
}
/* ~~ timeline ~~~ */
.page-header {
	padding-bottom: 7px;
	margin: 60px 0 24px;
	border: none;
}
.timeline {
	list-style: none;
	padding: 20px 0 20px;
	position: relative;
	margin-bottom: 43px;
	float: left;
	width: 100%;
}
.timeline:before {
	top: 0;
	bottom: 0;
	position: absolute;
	content: " ";
	width: 1px;
	background-color: #e60080;
	left: 50%;
	margin-left: -1px;
	height: 95%;
}
.timeline > li {
	margin-bottom: 20px;
	position: relative;
}
.timeline > li:before, .timeline > li:after {
	content: " ";
	display: table;
}
.timeline > li:after {
	clear: both;
}
.timeline > li:before, .timeline > li:after {
	content: " ";
	display: table;
}
.timeline > li:after {
	clear: both;
}
.timeline > li > .timeline-panel {
	width: 50%;
	float: left;
	padding: 20px 5px;
	position: relative;
}
.timeline > li.timeline-inverted + li:not(.timeline-inverted), .timeline > li:not(.timeline-inverted) + li.timeline-inverted {
	margin-top: -60px;
}
.timeline_revert {
	text-align: right;
}
.timeline > li:not(.timeline-inverted) {
	padding-right: 90px;
}
.timeline > li.timeline-inverted {
	padding-left: 90px;
}
.timeline > li > .timeline-panel:after {
	position: absolute;
	top: 27px;
	right: -14px;
	display: inline-block;
	border-top: 14px solid transparent;
	border-left: 14px solid #fff;
	border-right: 0 solid #fff;
	border-bottom: 14px solid transparent;
	content: " ";
}
.timeline > li > .timeline-badge {
	width: 45px;
	height: 45px;
	line-height: 42px;
	font-size: 21px;
	text-align: center;
	position: absolute;
	top: 16px;
	left: 50%;
	margin-left: -23px;
	z-index: 100;
	border-radius: 50%;
	border: 1px solid #e60080;
	background-color: white;
	color: #e60080;
	font-weight: 300;
}
.timeline > li.timeline-inverted > .timeline-panel {
	float: right;
}
.timeline > li.timeline-inverted > .timeline-panel:before {
	border-left-width: 0;
	border-right-width: 15px;
	left: -15px;
	right: auto;
}
.timeline > li.timeline-inverted > .timeline-panel:after {
	border-left-width: 0;
	border-right-width: 14px;
	left: -14px;
	right: auto;
}
.timeline-badge.primary {
	background-color: #2e6da4 !important;
}
.timeline-badge.success {
	background-color: #3f903f !important;
}
.timeline-title {
	margin-top: 0;
	color: inherit;
}
.timeline-body > p, .timeline-body > ul {
	margin-bottom: 0;
	font-size: 16px;
}
.timeline-body > p + p {
	margin-top: 5px;
}
.timeline li {
	margin-bottom: 60px;
}
 @media screen and (max-width:1300px) {
.abt_cntr {
	background-image: none !important;
}
.right_align {
	float: left;
}
}
/* ~~~ fanchise ~~~*/
.frch {
	padding: 0 0 55px;
	width: 100%;
	float: left;
}
.franchise_top {
	background-color: #e60080;
	padding: 30px 0;
}
.franchise_top img {
	float: right;
	margin-top: 15px;
}
.franchise_top h3 {
	text-transform: uppercase;
	font-weight: 100;
	font-size: 30px;
	margin-bottom: 70px;
	color: #fff;
}
.franchise_top h3 .span2 {
	font-size: 16px;
	font-weight: 400;
	font-style: italic;
	text-transform: none;
}
.franchise_top p {
	color: #fff;
	font-size: 16px;
	font-weight: 400;
	line-height: 30px;
}
.franchise_Btm {
	text-align: center;
	padding: 20px 0px 35px;
}
.franchise_Btm ul li {
	padding: 4px 0;
	font-size: 16px;
	font-weight: 400;
}
.franchise_Btm .liv li:nth-child(1) {
	font-weight: 900;
	color: #e60080;
}
/* ~~~ Menu ~~~*/
.yellow {
	color: #fff600;
	font-weight: 900;
}
.item_Menu img {
	margin-top: 78px
}
.item_Menu h2 {
	font-size: 26px;
	font-weight: 100;
	color: #fff;
	line-height: 40px;
	margin-bottom: 30px;
}
.item_Head {
	padding: 45px 0 60px;
	text-align: center;
}
.item_Head h3 {
	color: #e60080;
	font-size: 30px;
	font-weight: 900;
	text-transform: uppercase;
}
.item_Head h3 span {
	font-weight: 100;
	color: #414141;
}
.item_Head .tail {
	font-size: 16px;
	font-style: italic;
	font-weight: 400 !important;
	margin-left: 10px;
	text-transform: none !important;
	position: relative;
}
.item_Head .tail:before {
	content: '';
	position: absolute;
	height: 42px;
	width: 1px;
	bottom: -24px;
	margin-left: -12px;
	background-color: #e60080;
	left: 0;
}
.brk_cnr {
	text-align: center;
	margin: 32px 0px;
	float: left;
	width: 100%;
}
.brk_Item {
	float: left;
	margin-bottom: 40px;
}
.brk_cnr h6 {
	color: #e60080;
	font-size: 16px;
	font-weight: 900;
}
.brk_cnr p {
	font-size: 16px;
	font-weight: 400;
	margin-bottom: 35px;
}
.brk_cnr a {
	color: #e60080;
	text-transform: uppercase;
	font-weight: 400;
	font-size: 16px;
	padding: 9px 13px;
	margin-bottom: 15px;
}
.brk_cnr a:hover {
	background: #565656;
	color: #fff;
}
.thin {
	font-weight: 100;
}
/* ~~ modal ~~ */

.modal {
	will-change: visibility, opacity;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	overflow-y: auto;
	overflow-x: hidden;
	z-index: 1000;
	visibility: hidden;
	opacity: 0;
	-webkit-transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
	transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
 -webkit-transition-delay: $modal-delay;
 transition-delay: $modal-delay;
}
.modal--active {
	visibility: visible;
	opacity: 1;
}
.modal--align-top {
	-webkit-box-align: start;
	-webkit-align-items: flex-start;
	-ms-flex-align: start;
	align-items: flex-start;
}
.modal__bg {
	background: transparent;
}
.modal__dialog {
	max-width: 600px;
	padding: 1.2rem;
}
.modal__content {
	will-change: transform, opacity;
	position: relative;
	padding: 2.4rem;
	background: #ffebee;
	background-clip: padding-box;
	box-shadow: 0 12px 15px 0 rgba(0,0,0,0.25);
	opacity: 0;
	-webkit-transition: all 0.25s cubic-bezier(0.23, 1, 0.32, 1);
	transition: all 0.25s cubic-bezier(0.23, 1, 0.32, 1);
}
.modal__content--active {
	opacity: 1;
}
.modal__close {
	z-index: 1100;
	cursor: pointer;
}
.modal__trigger {
	position: relative;
	display: inline-block;
	padding: 1.2rem 2.4rem;
	color: rgba(0,0,0,0.7);
	line-height: 1;
	cursor: pointer;
	background: #ffebee;
	box-shadow: 0 2px 5px 0 rgba(0,0,0,0.26);
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
	transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
}
.modal__trigger--active {
	z-index: 10;
}
.modal__trigger:hover {
	background: #e5d3d6;
}
#modal__temp {
	will-change: transform, opacity;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: #ffebee;
	-webkit-transform: none;
	transform: none;
	opacity: 1;
	-webkit-transition: opacity 0.1s ease-out, -webkit-transform 0.5s cubic-bezier(0.23, 1, 0.32, 1);
	transition: opacity 0.1s ease-out, -webkit-transform 0.5s cubic-bezier(0.23, 1, 0.32, 1);
	transition: opacity 0.1s ease-out, transform 0.5s cubic-bezier(0.23, 1, 0.32, 1);
	transition: opacity 0.1s ease-out, transform 0.5s cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 0.5s cubic-bezier(0.23, 1, 0.32, 1);
}
.demo-btns header {
	padding: 7vh 10vw;
	background: #ffebee;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
}
.demo-btns header h1 {
	margin: 0;
	color: rgba(0,0,0,0.54);
	font-weight: 300;
}
.demo-btns .info {
	background: #f44336;
	padding: 3vh 10vw;
	height: 70vh;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-flex-flow: column wrap;
	-ms-flex-flow: column wrap;
	flex-flow: column wrap;
}
.demo-btns p {
	text-align: center;
	color: #fff;
}
.demo-btns .link {
	font-size: 20px;
}
.demo-btns .modal__trigger {
	margin-right: 3px;
}
@media (max-width: 640px) {
.demo-btns .modal__trigger {
	margin-bottom: 0.8rem;
}
}
.demo-close {
	position: absolute;
	top: 0;
	right: 0;
	margin: 1.2rem;
	padding: 0.6rem;
	background: rgba(0,0,0,0.3);
	border-radius: 50%;
	-webkit-transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
	transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
}
.demo-close svg {
	width: 24px;
	fill: #fff;
	pointer-events: none;
	vertical-align: top;
}
.demo-close:hover {
	background: rgba(0,0,0,0.6);
}
.menu_popup .logo {
	position: fixed;
	bottom: 3vh;
	right: 3vw;
	z-index: 2;
}
.menu_popup .logo img {
	width: 45px;
	-webkit-transform: rotate(0);
	transform: rotate(0);
	-webkit-transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
	transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
}
.menu_popup .logo img:hover {
	-webkit-transform: rotate(180deg) scale(1.1);
	transform: rotate(180deg) scale(1.1);
}
/* ~~~ review page ~~~ */
.rev_Top_Bg {
	float: left;
	width: 100%;
}
.rev_Top_Bg img {
	width: 100%;
}
.review {
	padding: 40px 0;
	float: left;
	width: 100%;
}
.revie_Frm .form-control {
	display: block;
	width: 100%;
	height: 55px;
	padding: 5px 15px;
	font-size: 16px;
	line-height: 1.42857143;
	color: #555;
	background-color: #fff;
	background-image: none;
	border: 1px solid #e60080;
	border-radius: 0px;
	-webkit-box-shadow: none;
	box-shadow: none;
}
.revie_Frm .form-group label {
	font-weight: 700;
	font-size: 16px;
}
.form-row {
	margin-bottom: 13px;
	float: left;
	width: 100%;
}
.revie_Frm .form-group input[type="text"]::-webkit-input-placeholder, .revie_Frm .form-group input[type="email"]::-webkit-input-placeholder { /* Chrome/Opera/Safari */
 color: #818181;
 font-size:15px;
 font-weight:300;
 font-style:italic;
}
.revie_Frm .form-group input[type="text"]::-moz-placeholder, .revie_Frm .form-group input[type="email"]::-moz-placeholder { /* Firefox 19+ */
 color: #818181;
 font-size:15px;
 font-weight:300;
 font-style:italic;
}
.revie_Frm .form-group input[type="text"]:-ms-input-placeholder, .revie_Frm .form-group input[type="email"]:-ms-input-placeholder { /* IE 10+ */
 color: #818181;
 font-size:15px;
 font-weight:300;
 font-style:italic;
}
.revie_Frm .form-group input[type="text "]:-moz-placeholder, .revie_Frm .form-group input[type="email"]:-moz-placeholder { /* Firefox 18- */
 color: #818181;
 font-size:15px;
 font-weight:300;
 font-style:italic;
}
.review_btm {
	border-top: 1px solid #e60080;
	float: left;
	width: 100%;
	padding: 50px 0;
	margin-top: 70px;
}
.ctrl_rad {
	display: block;
	position: relative;
	padding-left: 30px;
	margin-bottom: 15px;
	cursor: pointer;
	font-size: 18px;
}
.ctrl_rad input {
	position: absolute;
	z-index: -1;
	opacity: 0;
}
.ctrl_rad__indicator {
	position: absolute;
	top: 1px;
	left: 0;
	height: 30px;
	width: 30px;
	background: transparent;
	border: 1px solid #e60080;
}
.ctrl_rad:hover input ~ .ctrl_rad__indicator, .ctrl_rad input:focus ~ .ctrl_rad__indicator {
	background: #E60080;
	-webkit-transition: all 0.6s ease;/* Safari 3.2+, Chrome */
	-moz-transition: all 0.6s ease;/* Firefox 4-15 */
	-o-transition: all 0.6s ease;/* Opera 10.5-12.00 */
	transition: all 0.6s ease;/* Firefox 16+, Opera 12.50+ */
}
.ctrl_rad input:checked ~ .ctrl_rad__indicator {
	background: #E60080;
}
.ctrl_rad:hover input:not([disabled]):checked ~ .ctrl_rad__indicator, .ctrl_rad input:checked:focus ~ .ctrl_rad__indicator {
	background: #E60080;
	-webkit-transition: all 0.6s ease;/* Safari 3.2+, Chrome */
	-moz-transition: all 0.6s ease;/* Firefox 4-15 */
	-o-transition: all 0.6s ease;/* Opera 10.5-12.00 */
	transition: all 0.6s ease;/* Firefox 16+, Opera 12.50+ */
}
.ctrl_rad input:disabled ~ .ctrl_rad__indicator {
	background: #e6e6e6;
	opacity: 0.6;
	pointer-events: none;
}
.ctrl_rad__indicator:after {
	/* content: "\f005";*/
	content: "";
	position: absolute;
	display: none;
	font-family: 'FontAwesome';
	color: #fff;
	left: 5px;
}
.ctrl_rad input:checked ~ .ctrl_rad__indicator:after {
	display: block;
}
.ctrl_rad--checkbox .ctrl_rad__indicator:after {
	left: 8px;
	top: 4px;
	width: 3px;
	height: 8px;
	border: solid #fff;
	border-width: 0 2px 2px 0;
	transform: rotate(45deg);
}
.ctrl_rad--radio .ctrl_rad__indicator:after {
	left: 0px;
	top: 0px;
	height: 20px;
	width: 20px;
	border-radius: 0;
	background: #e60080;
}
.ctrl_rad input:checked ~ .fa-star {
	color: #E60080;
	-webkit-transition: all 0.4s ease;/* Safari 3.2+, Chrome */
	-moz-transition: all 0.4s ease;/* Firefox 4-15 */
	-o-transition: all 0.4s ease;/* Opera 10.5-12.00 */
	transition: all 0.4s ease;/* Firefox 16+, Opera 12.50+ */
}
.ctrl_rad input:checked ~ .ctrl_rad__indicator {
	padding: 2px;
}
.required p {
	font-weight: 700;
	font-size: 16px;
	margin: 10px 0;
}
.control-group {
	float: left;
}
.chkbx_cnr {
	margin-right: 50px;
}
.slct_grp {
	width: 100%;
}
.control {
	display: block;
	position: relative;
	padding-left: 30px;
	margin-bottom: 15px;
	cursor: pointer;
	font-size: 18px;
}
.control input {
	position: absolute;
	z-index: -1;
	opacity: 0;
}
.control__indicator {
	position: absolute;
	top: 2px;
	left: 0;
	height: 30px;
	width: 30px;
	border: 1px solid #e60080
}
.control--radio .control__indicator {
	border-radius: 50%;
}
.control:hover input ~ .control__indicator, .control input:focus ~ .control__indicator {
	background: none;
}
.control input:checked ~ .control__indicator {
	background: #fff;
	border: 1px solid #e60080;
}
.control:hover input:not([disabled]):checked ~ .control__indicator, .control input:checked:focus ~ .control__indicator {
	background: #fff;
}
.control.control--checkbox {
	padding-left: 50px;
	padding-top: 4px;
}
.star {
	padding-left: 40px !important;
}
.rt_cnr {
	margin-right: 14px !important;
}
.control__indicator:after {
	content: '';
	position: absolute;
	display: none;
}
.control input:checked ~ .control__indicator:after {
	display: block;
}
.control--checkbox .control__indicator:after {
	left: 8px;
	top: 4px;
	width: 8px;
	height: 16px;
	border: 1px solid #E60080;
	border-width: 0 2px 2px 0;
	transform: rotate(45deg);
	;
	transform: rotate(45deg);
}
.control--radio .control__indicator:after {
	left: 7px;
	top: 7px;
	height: 6px;
	width: 6px;
	border-radius: 50%;
	background: #fff;
}
.control--radio input:disabled ~ .control__indicator:after {
	background: #7b7b7b;
}
.select {
	position: relative;
	display: inline-block;
	margin-bottom: 15px;
	width: 100%;
}
.select select {
	display: inline-block;
	width: 100%;
	cursor: pointer;
	padding: 13px 15px;
	outline: 0;
	border: 0;
	border-radius: 0;
	background: transparent;
	color: #7b7b7b;
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	border: 1px solid #e60080;
	font-style: italic;
	height: 55px;
}
.select select::-ms-expand {
 display: none;
}
.select select:hover, .select select:focus {
	color: #000;
	background: #fff;
}
.select__arrow {
	position: absolute;
	top: 49px;
	right: 15px;
	width: 0;
	height: 0;
	pointer-events: none;
	border-style: solid;
	border-width: 14px 9px 0 13px;
	border-color: #e60080 transparent transparent transparent;
}
.select select:hover ~ .select__arrow, .select select:focus ~ .select__arrow {
	border-top-color: #000;
}
.rve_btn {
	border: 0;
	padding: 10px 39px;
	margin: 13px;
	background-color: #e60080;
	color: #fff;
	text-transform: uppercase;
	font-size: 16px;
	font-weight: 400;
}
.rve_btn:hover {
	background-color: #383838;
	-webkit-transition: all 0.5s ease;/* Safari 3.2+, Chrome */
	-moz-transition: all 0.5s ease;/* Firefox 4-15 */
	-o-transition: all 0.5s ease;/* Opera 10.5-12.00 */
	transition: all 0.5s ease;/* Firefox 16+, Opera 12.50+ */
}
/* ~~~ Contact ~~~*/	
.contact {
	padding: 0px 0 45px;
}
.map_img {
	width: 100%;
	overflow: hidden;
	margin-bottom: 15px;
}
.map_img img {
	width: 100%;
}
.main_Caption {
	margin: 0 auto;
	text-align: center;
	padding: 30px 0;
	float: left;
	width: 100%;
}
.main_Caption h3 {
	font-size: 30px;
	text-transform: uppercase;
	position: relative;
	display: inline-block;
	line-height: 40px;
}
.main_Caption h3:before {
	content: '';
	position: absolute;
	height: 42px;
	width: 1px;
	bottom: -6px;
	margin-left: 0;
	background-color: #e60080;
	left: 5px;
}
.main_Caption .tail {
	font-size: 16px;
	font-style: italic;
	font-weight: 400 !important;
	text-transform: none !important;
	color: #383838;
	margin-left: 24px;
	float: left;
}
.sm_Caption {
	float: left;
	padding-left: 21px;
	width: 50%;
}
.sm_Caption h3 {
	font-size: 30px;
	font-weight: 900;
	text-transform: uppercase;
	position: relative;
	float: left;
	margin-bottom: 26px;
	width: 100%;
}
.sm_Caption h3:before {
	content: '';
	position: absolute;
	height: 42px;
	width: 1px;
	bottom: -22px;
	margin-left: 0;
	background-color: #fff;
	left: 5px;
}
.sm_Caption .tail {
	font-size: 15px;
	font-style: italic;
	font-weight: 300 !important;
	margin-left: 15px;
	text-transform: none !important;
	color: #FFF;
}
.sm_Caption .thin {
	font-weight: 100 !important;
}
.sm_Caption p {
	float: left;
	font-size: 16px;
	color: #fff;
}
.sm_Caption p span {
	margin-top: 15px;
	float: left;
}
.Locations {
	float: left;
	width: 100%;
	padding: 32px 0;
}
.lc_cntr {
	background-color: #e60080;
	height: auto;
	width: 100%;
	float: left;
	margin-bottom: 40px;
}
.lc_cntr .lc_img_cntr img {
	float: right;
	width: 100%;
}
.lc_img_cntr {
	width: 50%;
	position: relative;
	float: left;
}
.lc_img_cntr .map_View {
	position: absolute;
	width: 119px;
	height: 41px;
	background-color: #0c0c0cb3;
	right: 0;
	text-align: center;
	padding: 8px;
}
.lc_img_cntr .map_View a {
	color: #fff;
	text-decoration: underline;
	font-size: 16px;
}
.lc_img_cntr .opaning {
	width: 100%;
	height: 56px;
	position: absolute;
	background-color: #0c0c0cb3;
	bottom: 0;
	left: 0;
}
.lc_img_cntr .opaning p {
	color: #fff;
	font-size: 16px;
	margin: 0;
	padding-top: 8px;
	padding-left: 11px;
	line-height: 17px;
}
.lc_img_cntr .opaning span {
	font-weight: 900;
}
@media only screen and (min-device-width : 568px) and (max-device-width :1200px) {
.lc_img_cntr .opaning p {
	font-size: 13px;
}
}
@media only screen and (max-device-width :568px) {
.sm_Caption, .lc_img_cntr {
	width: 100%;
}
}
/*		Map
--------------------*/
.map-wrapper {
	position: relative;
}
.map-wrapper .marker {
	position: absolute;
	margin-top: -55px;
	margin-left: -130px;
	top: 52%;
	left: 53%;
	width: 149px;
	height: 48px;
	background: rgb(230, 0, 128);
	color: rgb(255, 255, 255);
	border-radius: 5px;
	font-size: 11px;
	line-height: 44px;
	text-align: center;
	font-weight: 600;
}
.map-wrapper .marker span:after {
	content: "";
	position: absolute;
	bottom: -15px;
	left: 50%;
	margin-left: -10px;
	width: 20px;
	height: 15px;
	text-align: center;
	border-top: 12px solid rgb(230, 0, 128);
	border-left: 15px outset transparent;
	border-right: 15px outset transparent;
}
.map-canvas {
	background: #ddd;
	width: 100%;
	height: 385px;
}
.btn {
	padding: 15px 30px;
	border-radius: 0;
	-webkit-transition: border-color 0.4s, color 0.4s;
	transition: border-color 0.4s, color 0.4s;
}
.Contact-info {
	min-height: 550px;
}
.Contact-info ul {
	margin-left: 5px;
	padding: 0;
}
.Contact-info ul li {
	font-size: 16px;
	color: #242424;
	font-weight: 300;
	text-decoration: none;
}
.Contact-info ul li a {
	font-size: 16px;
	color: #242424;
	font-weight: 300;
	text-decoration: none;
}
.Contact-info ul li .fa {
	font-size: 18px;
	margin-right: 12px;
}
/*	| Contact form |
------------------------*/
.form-area h2 {
	margin: 15px 0;
}
.form-area .form-control {
	background: rgb(255, 255, 255);
	border: 1px solid RGB(0, 0, 0);
	font-size: 13px;
	padding: 0 15px;
	border-radius: 0px;
	color: rgb(20, 20, 20);
	width: 100%;
	height: 60px;
}
.form-group {
	margin-bottom: 0px
}
.form-control:focus {
	border-color: rgb(230, 0, 128);
	box-shadow: none !important;
}
.input-lg, .form-horizontal .form-group-lg .form-control {
	height: 38px;
	font-size: 13px;
}
.input-sm, .form-horizontal .form-group-sm .form-control {
	font-size: 16px;
	height: 30px;
}
textarea.form-control {
	padding: 15px 15px 0;
	max-width: 100%;
}
.submit-bt {
	color: rgb(255,255,255);
	background-color: #e60080;
	border-radius: 0px;
	width: 90px;
	height: 35px;
	float: right;
	border: none;
}
.submit-bt:hover {
	color: #000;
	background-color: rgba(134, 116, 2, 0.15);
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}
input.placeholder-style::-webkit-input-placeholder {
 color: #818181;
 font-size:15px;
 font-style:italic;
}
input.placeholder-style::-moz-placeholder {
 color: #818181;
 opacity: 1;
 font-size:15px;
 font-style:italic;
}
input.placeholder-style::-moz-placeholder {
    /* Mozilla Firefox 19+ */
     color: #818181;
 opacity: 1;
 font-size:13px;
}
input.placeholder-style::ms-input-placeholder {
    /* Internet Explorer 10+ */
     color: #818181;
 font-style:italic;
}
textarea.placeholder-style::-webkit-textarea-placeholder {
    /* WebKit browsers */
    color: #818181;
 font-size:13px;
 font-style:italic;
}
textarea.placeholder-style::-moz-placeholder {
 color: #818181;
 font-style:italic;
 opacity: 1;
}
textarea.placeholder-style::-moz-placeholder {
 color: #818181;
 font-style:italic;
 opacity: 1;
}
textarea.placeholder-style::ms-input-placeholder {
 color: #818181;
 font-style:italic;
}
::-webkit-input-placeholder {
 color: #ae9b1d;
 font-style:italic;
}
textarea.form-control {
	height: auto !important;
	padding: 15px 21px 0 !important;
}
.nws_Letter {
	width: 100%;
	background: #e60080;
	text-align: left;
	float: left;
	padding: 45px 0;
}
.nws_Letter h5 {
	font-weight: 300;
	color: #FFF;
	font-size: 30px;
	text-transform: uppercase;
	margin: 0;
	line-height: 26px;
}
.nws_Letter h5 span {
	color: #c4c4c4;
	font-size: 15px;
	text-transform: none !important;
}
.chat {
	overflow: hidden;
	height: 40px;
	width: 100%;
	position: relative;
	margin-top: 5px;
}
.chat .fa-paper-plane {
	font-size: 14px;
}
.chat input {
	background: rgb(255, 255, 255);
	width: 100%;
	border-radius: 0px;
	border: none;
	height: 40px;
	color: rgb(0, 0, 0);
	padding: 10px 0 10px 10px;
	outline: none;
	-moz-transition: border 0.2s ease;
	-o-transition: border 0.2s ease;
	-webkit-transition: border 0.2s ease;
	transition: border 0.2s ease;
}
.chat input:focus + button {
	background-color: #383838;
}
.chat button {
	position: absolute;
	z-index: 999;
	right: 0px;
	top: 0px;
	height: 40px;
	border: none;
	background-color: #383838;
	color: #fff;
	font-size: 14px;
	padding: 0;
	margin: 0;
	text-transform: uppercase;
	width: 140px;
	text-align: center;
	cursor: pointer;
	-moz-transition: background-color 0.3s ease, width 0.3s ease;
	-o-transition: background-color 0.3s ease, width 0.3s ease;
	-webkit-transition: background-color 0.3s ease, width 0.3s ease;
	transition: background-color 0.3s ease, width 0.3s ease;
}
.chat button:hover {
	width: 145px;
	background-color: rgb(207, 193, 201);
	color: #fff !important;
}
/* ~~~ Blog ~~~*/
.blog {
}
.blog_Content {
	padding: 0 0 25px;
}
.blog_Content h3 {
	font-size: 20px;
	font-weight: 300;
	text-transform: uppercase;
	margin: 38px 0;
}
.blog_Content img {
	width: 100%;
	margin: 0 0 25px;
}
.blog_Content p {
	font-weight: 400;
	font-size: 16px;
	margin-bottom: 20px;
}
.blog_Nav {
	background-color: #e60080;
	width: 100%;
	padding-left: 20px;
	float: left;
}
.blog_Nav h3 {
	padding-left: 0;
}
.nav_cnr {
	float: left;
	width: 100%;
	padding: 10px 7px 10px;
	margin-top: 45px;
}
.nav_cnr li {
	border-left: 2px solid #fff;
	height: auto;
	float: left;
	margin-bottom: 21px;
	padding-left: 10px;
}
.nav_cnr li a {
	color: #fff;
	font-size: 16px;
	font-weight: 400;
	position: relative;
	float: left;
	width: 100%;
}
.nav_cnr li a:hover {
	color: #383838;
}
.nav_cnr li a span {
	font-style: italic;
	font-size: 13px;
	color: #ffa7d8;
}
/* ~~~ Footer ~~~~ */
.page_Footer {
	background-color: #383838;
	float: left;
	width: 100%;
	padding: 40px 0;
}
.page_Footer p {
	color: #a3a3a3;
}
.ftr_brief img {
	margin-bottom: 20px;
}
.ftr_brief p {
	font-size: 16px;
	font-weight: 300;
	line-height: 30px;
	font-style: italic;
}
.ftr_Item {
	margin-top: 25px !important;
}
.ftr_mid {
	padding-left: 50px !important;
}
.ftr_Item ul {
	margin: 0;
	padding: 0;
}
.ftr_Item h4 {
	color: #ffffff;
	font-weight: 400;
	font-size: 20px;
}
.ftr_Item ul li {
	margin: 0;
	padding: 2px 0;
}
.ftr_Item ul li a {
	color: #a3a3a3;
	font-size: 17px;
	font-weight: 300;
	-webkit-transition: color 0.4s ease-out;/* Safari 3.2+, Chrome */
	-moz-transition: color 0.4s ease-out;/* Firefox 4-15 */
	-o-transition: color 0.4s ease-out;/* Opera 10.5-12.00 */
	transition: color 0.4s ease-out;/* Firefox 16+, Opera 12.50+ */
}
.ftr_Item ul li a:hover {
	color: #e60080;
	-webkit-transition: color 0.4s ease-out;/* Safari 3.2+, Chrome */
	-moz-transition: color 0.4s ease-out;/* Firefox 4-15 */
	-o-transition: color 0.4s ease-out;/* Opera 10.5-12.00 */
	transition: color 0.4s ease-out;/* Firefox 16+, Opera 12.50+ */
}
.ftr_Item ul li a i {
	color: #a5a5a5;
}
.page_Footer .ftr_Item p {
	color: #a3a3a3;
}
.ftr_Social li a i {
	width: 28px;
	text-align: left;
}
.ftr_Social li a:hover i {
	color: #e60080;
	-webkit-transition: color 0.4s ease-out;/* Safari 3.2+, Chrome */
	-moz-transition: color 0.4s ease-out;/* Firefox 4-15 */
	-o-transition: color 0.4s ease-out;/* Opera 10.5-12.00 */
	transition: color 0.4s ease-out;/* Firefox 16+, Opera 12.50+ */
}
.page_Footer_Botm {
	height: 65px;
	width: 100%;
	background-color: #2b2b2b;
	text-align: center;
	display: table;
}
.page_Footer_Botm p {
	display: table-cell;
	vertical-align: middle;
	color: #898989;
	font-size: 13px;
	font-weight: 400;
}
#nav ul li .active {
	background-color: red !important;
}
/*
----------------------*/
#preloader {
	position: fixed;
	left: 0;
	top: 0;
	z-index: 3999999;
	width: 100%;
	height: 100%;
	overflow: visible;
	background: #e60080 url(../images/gears.svg) no-repeat center center;
}
.overlay {
	background: red;
	position: absolute;
	z-index: 2;
	width: 100%;
	height: auto;
}
.video_cntr {
	position: relative;
	background-color: rgba(0,0,0,.5);
}
