@charset "utf-8";
 @media screen and (max-width:1202px) {
.logo {
	width: 21%;
}
}

 @media screen and (max-width:992px) {
.logo {
	position: absolute;
	top: 0;
	left: 0;
	width: 44%;
	text-align: center;
	padding: 10px 0 0 0;
	float: none
}
.logo2 {
	display: none
}
nav {
	width: 100%;
}
#cssmenu {
	width: 100%
}
#cssmenu ul {
	width: 100%;
	display: none
}
#cssmenu ul li {
	width: 100%;
	border-top: 1px solid #444
}
#cssmenu ul li:hover {
	background: #363636;
}
#cssmenu ul ul li, #cssmenu li:hover > ul > li {
	height: auto
}
#cssmenu ul li a, #cssmenu ul ul li a {
	width: 100%;
	border-bottom: 0
}
#cssmenu > ul > li {
	float: none
}
#cssmenu ul ul li a {
	padding-left: 25px
}
#cssmenu ul ul li {
	background: #333!important;
}
#cssmenu ul ul li:hover {
	background: #363636!important
}
#cssmenu ul ul ul li a {
	padding-left: 35px
}
#cssmenu ul ul li a {
	color: #ddd;
	background: none
}
#cssmenu ul ul li:hover > a, #cssmenu ul ul li.active > a {
	color: #fff
}
#cssmenu ul ul, #cssmenu ul ul ul {
	position: relative;
	left: 0;
	width: 100%;
	margin: 0;
	text-align: left
}
#cssmenu > ul > li.has-sub > a:after, #cssmenu > ul > li.has-sub > a:before, #cssmenu ul ul > li.has-sub > a:after, #cssmenu ul ul > li.has-sub > a:before {
	display: none
}
#cssmenu #head-mobile {
    display: block;
    padding: 23px;
}
.button {
	width: 55px;
	height: 46px;
	position: absolute;
	right: 0;
	top: 0;
	cursor: pointer;
	z-index: 12399994;
}
.button:after {
	position: absolute;
	top: 22px;
	right: 20px;
	display: block;
	height: 4px;
	width: 20px;
	border-top: 2px solid #e60080;
	border-bottom: 2px solid #e60080;
	content: ''
}
.button:before {
	-webkit-transition: all .3s ease;
	-ms-transition: all .3s ease;
	transition: all .3s ease;
	position: absolute;
	top: 16px;
	right: 20px;
	display: block;
	height: 4px;
	width: 20px;
	background: #e60080;
	content: ''
}
.button.menu-opened:after {
	-webkit-transition: all .3s ease;
	-ms-transition: all .3s ease;
	transition: all .3s ease;
	top: 23px;
	border: 0;
	height: 4px;
	width: 19px;
	background: #e60080;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg)
}
.button.menu-opened:before {
	top: 23px;
	background: #e60080;
	width: 19px;
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg)
}
#cssmenu .submenu-button {
	position: absolute;
	z-index: 99;
	right: 0;
	top: 0;
	display: block;
	border-left: 1px solid #444;
	height: 46px;
	width: 46px;
	cursor: pointer
}
#cssmenu .submenu-button.submenu-opened {
	background: #262626
}
#cssmenu ul ul .submenu-button {
	height: 34px;
	width: 34px
}
#cssmenu .submenu-button:after {
	position: absolute;
	top: 22px;
	right: 19px;
	width: 8px;
	height: 2px;
	display: block;
	background: #ddd;
	content: ''
}
#cssmenu ul ul .submenu-button:after {
	top: 15px;
	right: 13px
}
#cssmenu .submenu-button.submenu-opened:after {
	background: #fff
}
#cssmenu .submenu-button:before {
	position: absolute;
	top: 19px;
	right: 22px;
	display: block;
	width: 2px;
	height: 8px;
	background: #ddd;
	content: ''
}
#cssmenu ul ul .submenu-button:before {
	top: 12px;
	right: 16px
}
#cssmenu .submenu-button.submenu-opened:before {
	display: none
}
#cssmenu ul ul ul li.active a {
	border-left: none
}
#cssmenu > ul > li.has-sub > ul > li.active > a, #cssmenu > ul ul > li.has-sub > ul > li.active > a {
	border-top: none
}
.ftr_Item {
	min-height: 140px !important;
	margin-bottom: 25px;
}
.ftr_mid {
    padding-left: 0px !important;
}
header {
	background-color: #FFF;
}
.logo {
	margin: 0;
	padding: 0;
	width: 27%;
}
#cssmenu > ul > li > a::before {
	display: none;
}
.from_Top {
	margin-top: 14%;
}
.franchise_top {
	text-align: center;
}
.franchise_top img {
	float: none;
	width:65%;
}
.offers {
    display: none;
}
.sm_Txt_ctr {
    text-align: center;
}
.order_onln_img {
    padding-top: 19px;
}

}
 @media screen and (max-width:768px) {
	
}
@media screen and (max-width:600px) {
.top_Info {
	display: none;
}
.logo {
	width: 37%;
}
#basket {
    right: 0;
    bottom: 61px;
    z-index: 1000;
}
.quick_Order {
    width: 106px;
    height: 106px;
    background-size: 73%;
    right: 0;
    bottom: 0;
}
.quick_Order img {
    width: 107px;
    height: auto;
}
.offers {
	display: none;
}
.order_onln_img {
	display: none;
}

.narration {
    width: 100%;
    padding: 10px;
}
.main_Intro p {
    line-height: 30px;
    padding: 0;
    margin: 0;
    text-align: justify;
}
.dish_Content {
    float: none;
    text-align: center;
	padding-left:0;
	margin-left:0;
}
.dishes {
    padding: 11px 3px;
    float: none;
}
.dish_Content {width:100%;}
.dishes img {
    float: none;
    margin-right: 0;
    margin: auto;
}
.pFix-R {
	padding-right: 0;
}
#sidebar {
	width: 89px;
}
.filter a img {
	display: none;
}
.ftr_Item {
	min-height: 107px !important;
	margin-bottom: 2px;
}
.ftr_mid {
    padding-left: 15px !important;
}
}
