#first-slider .main-container {
	padding: 0
}
#first-slider .slide1 h3, #first-slider .slide2 h3, #first-slider .slide3 h3, #first-slider .slide4 h3 {
	color: #292929;
	font-size: 35px;
	font-weight: 700;
	margin: 0;
	padding: 12px 0 10px;
	text-transform: uppercase;
	background: #ffe536
}
span.bnr_title_1 {
	color: #f37021;
	font-size: 47px;
	font-weight: 700;
	margin: 0;
	padding: 0 0 10px;
	text-transform: none
}
span.bnr_title_2 {
	color: #393939
}
#first-slider .slide1 h4, #first-slider .slide2 h4, #first-slider .slide3 h4, #first-slider .slide4 h4 {
	color: #393939;
	font-size: 15px;
	position: relative;
	margin: 0;
	font-family: "Roboto Light";
	font-weight: 700
}
a.jms-link {
	text-transform: uppercase;
	display: inline-block;
	font-size: 16px;
	font-weight: 700;
	color: #fff;
	border-radius: 4px;
	opacity: 1;
	margin-top: 10px;
	clear: both;
	-webkit-transition: all .4s ease-in-out 1s;
	-moz-transition: all .4s ease-in-out 1s;
	-ms-transition: all .4s ease-in-out 1s;
	-o-transition: all .4s ease-in-out 1s;
	transition: all .4s ease-in-out 1s
}
a.jms-link:active, a.jms-link:hover {
	text-decoration: none
}
#first-slider .carousel-indicators {
	bottom: 0
}
.carousel-indicators {
	left: 127px;
	margin-left: 0;
	text-align: left
}
#first-slider .carousel-control.left, #first-slider .carousel-control.right {
	background-image: none
}
#first-slider .carousel .item {
	height: 100%;
	width: 100%
}
.carousel-inner .item .container {
	display: flex;
	align-items: center;
	position: absolute;
	bottom: 0;
	top: 0;
	left: 0;
	right: 0
}
#first-slider h3 {
	animation-delay: 1s
}
#first-slider h4 {
	animation-delay: 2s
}
#first-slider h2 {
	animation-delay: 3s
}
#first-slider .carousel-control {
	width: 6%;
	text-shadow: none
}
#first-slider h1 {
	text-align: center;
	margin-bottom: 30px;
	font-size: 30px;
	font-weight: 700
}
#first-slider .p {
	padding-top: 125px;
	text-align: center
}
#first-slider .p a {
	text-decoration: underline
}
#first-slider .carousel-indicators li {
	width: 19px;
	height: 18px;
	background-color: #565656;
	border: none;
	border-radius: 0;
	margin-right: 5px
}
#first-slider .carousel-indicators .active {
	width: 19px;
	height: 18px;
	
	background-color: #e60080;
	border: none
}
.carousel-fade .carousel-inner .item {
	-webkit-transition-property: opacity;
	transition-property: opacity
}
.carousel-indicators li {
	margin: 0
}
.carousel-control .fa-angle-left, .carousel-control .fa-angle-right {
	width: 38px;
	height: 38px;
	margin-top: -15px;
	font-size: 30px;
	color: #FFF;
	background: #393939
}
.carousel-fade .carousel-inner .active.left, .carousel-fade .carousel-inner .active.right, .carousel-fade .carousel-inner .item {
	opacity: 0
}
.carousel-fade .carousel-inner .active, .carousel-fade .carousel-inner .next.left, .carousel-fade .carousel-inner .prev.right {
	opacity: 1
}
.carousel-fade .carousel-inner .active.left, .carousel-fade .carousel-inner .active.right, .carousel-fade .carousel-inner .next, .carousel-fade .carousel-inner .prev {
	left: 0;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0)
}
.carousel-fade .carousel-control {
	z-index: 2
}
.carousel-control .fa-angle-left, .carousel-control .fa-angle-right {
	position: absolute;
	top: 50%;
	z-index: 5;
	display: inline-block
}
.carousel-control .fa-angle-left {
	left: 50%;
	border: 3px solid #393939;
	-webkit-border-radius: 23px;
	-moz-border-radius: 23px;
	border-radius: 53px
}
.carousel-control .fa-angle-right {
	right: 50%;
	border: 3px solid #393939;
	-webkit-border-radius: 23px;
	-moz-border-radius: 23px;
	border-radius: 53px
}
.carousel-control {
	opacity: 1;
	filter: alpha(opacity=100)
}
.slide_img {
	width: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: right center;
	float: right
}
@media screen and (max-width:1202px) {
#first-slider .carousel .item {
	height: 100%;
	width: 100%
}
}
