*, *::after, *::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*::after, *::before {
  content: '';
}


/* -------------------------------- 

Main components 

-------------------------------- */

.cd-tabs {
  position: relative;
  width: 100%
  font-family: 'Roboto', sans-serif;
}
.cd-tabs:after {
  content: "";
  display: table;
  clear: both;
}
.cd-tabs::after {
  /* subtle gradient layer on top right - to indicate it's possible to scroll */
  position: absolute;
  top: 0;
  right: 0;
  height: 60px;
  width: 50px;
  z-index: 1;
  pointer-events: none;
  background: -webkit-linear-gradient( right , #f8f7ee, rgba(248, 247, 238, 0));
  background: linear-gradient(to left, #f8f7ee, rgba(248, 247, 238, 0));
  visibility: visible;
  opacity: 1;
  -webkit-transition: opacity .3s 0s, visibility 0s 0s;
  -moz-transition: opacity .3s 0s, visibility 0s 0s;
  transition: opacity .3s 0s, visibility 0s 0s;
}
.no-cssgradients .cd-tabs::after {
  display: none;
}
.cd-tabs.is-ended::after {
  /* class added in jQuery - remove the gradient layer when it's no longer possible to scroll */
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity .3s 0s, visibility 0s .3s;
  -moz-transition: opacity .3s 0s, visibility 0s .3s;
  transition: opacity .3s 0s, visibility 0s .3s;
}
.cd-tabs nav {
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  background: #f8f7ee;
  box-shadow: inset 0 -2px 3px rgba(203, 196, 130, 0.06);
}
@media only screen and (min-width: 768px) {
  .cd-tabs::after {
    display: none;
  }
  .cd-tabs nav {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    box-shadow: inset -2px 0 3px rgba(203, 196, 130, 0.06);
    z-index: 1;
  }
}
@media only screen and (min-width: 960px) {
  .cd-tabs nav {
	position: relative;
	float: none;
	background: #f7e7f0;
	box-shadow: none;
	max-width: 90%;
	margin-left: 5%;

  }
}

.cd-tabs-navigation {
  width: 360px;
}
.cd-tabs-navigation:after {
  content: "";
  display: table;
  clear: both;
}
.cd-tabs-navigation li {
  float: left;
}
.cd-tabs-navigation a {
  position: relative;
  display: block;
  height: 60px;
  width: 60px;
  text-align: center;
  font-size: 12px;
  font-size: 0.75rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
   font-weight: 400;
	color: #e60080;
	padding-top: 34px;
	font-size: 16px;
}
.no-touch .cd-tabs-navigation a:hover {
  color: #29324e;
  background-color: rgba(233, 230, 202, 0.3);
}
.cd-tabs-navigation a.selected {
 background-color: #e60080 !important; 
  color: #fff;
}
.cd-tabs-navigation a::before {
  /* icons */
  position: absolute;
  top: 12px;
  left: 50%;
  margin-left: -10px;
  display: inline-block;
  height: 46px;
 width: 46px;
 
  background-repeat: no-repeat;
}
.cd-tabs-navigation li:nth-child(1) a:before {
	 background-image: url(../images/icon_1.png);
	}
.cd-tabs-navigation li:nth-child(2) a:before {
	 background-image: url(../images/icon_22.png);
	}
.cd-tabs-navigation li:nth-child(3) a:before {
	 background-image: url(../images/icon_3.png);
	}
.cd-tabs-navigation li:nth-child(4) a:before {
	 background-image: url(../images/icon_4.png);
	}
.cd-tabs-navigation li:nth-child(5) a:before {
	 background-image: url(../images/icon_5.png);
	}
.cd-tabs-navigation li:nth-child(6) a:before {
	 background-image: url(../images/icon_6.png);
	}
.cd-tabs-navigation li:nth-child(7) a:before {
	 background-image: url(../images/icon_7.png);
	}
.cd-tabs-navigation li:nth-child(8) a:before {
	 background-image: url(../images/icon_8.png);
	}


.cd-tabs-navigation a[data-content='all , new']::before {
  background-position: 0px 0;
  background-size: 100%;
}
.cd-tabs-navigation a[data-content='new']::before {
   background-position: 0px 0;
  background-size: 100%;
}
.cd-tabs-navigation a[data-content='gallery']::before {
   background-position: 0px 0;
  background-size: 100%;
}
.cd-tabs-navigation a[data-content='store']::before {
   background-position: 0px 0;
  background-size: 100%;
}
.cd-tabs-navigation a[data-content='settings']::before {
   background-position: 0px 0;
  background-size: 100%;
}
.cd-tabs-navigation a[data-content='trash']::before {
  background-position: 0px 0;
  background-size: 100%;
}
.cd-tabs-navigation a[data-content='inbox'].selected::before {
   background-position: 0px 0;
  background-size: 100%;
}
.cd-tabs-navigation a[data-content='new'].selected::before {
  background-position: 0px 0px;
}
.cd-tabs-navigation a[data-content='gallery'].selected::before {
   background-position: 0px 0;
  background-size: 100%;
}
.cd-tabs-navigation a[data-content='store'].selected::before {
  background-position: 0px 0;
  background-size: 100%;
}
.cd-tabs-navigation a[data-content='settings'].selected::before {
   background-position: 0px 0;
  background-size: 100%;
}
.cd-tabs-navigation a[data-content='trash'].selected::before {
   background-position: 0px 0;
  background-size: 100%;
}
@media only screen and (min-width: 768px) {
  .cd-tabs-navigation {
    /* move the nav to the left on medium sized devices */
    width: 80px;
    float: left;
  }
  .cd-tabs-navigation a {
    height: 80px;
    width: 80px;
    padding-top: 46px;
  }
  .cd-tabs-navigation a.selected {
  }
  .cd-tabs-navigation a::before {
    top: 22px;
  }
}
@media only screen and (min-width: 960px) {
  .cd-tabs-navigation {
    /* tabbed on top on big devices */
    width: auto;
     background-color: #f7e7f0;
	 margin-left: 0;
	 margin-bottom: 0;
  }
  .cd-tabs-navigation a {
   /* height: 60px;
    line-height: 60px;
    width: auto;
    text-align: left;
    font-size: 14px;
    font-size: 0.875rem;
    padding: 0 2.8em 0 4.6em;*/
	height: 74px;
	width: auto;
	text-align: left;
	font-size: 14px;
	padding: 30px 30px;
	margin: 0px 32px;
	line-height: 44px;
  }
  .cd-tabs-navigation a.selected {
	  background-color:red;
  }
  .cd-tabs-navigation a::before {
    /*top: 50%;
    margin-top: -10px;
    margin-left: 0;
    left: 38px;*/
	top: 0;
	margin-top: 11px;
	margin-left: 0;
	left: 27px;
	
  }
}

.cd-tabs-content {
  background: #ffffff;
}
.cd-tabs-content li {
  display: none;
  padding: 1.4em;
}
.cd-tabs-content li.selected {
  display: block;
  -webkit-animation: cd-fade-in 0.5s;
  -moz-animation: cd-fade-in 0.5s;
  animation: cd-fade-in 0.5s;
}
.cd-tabs-content li p {
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 1.6;
  color: #8493bf;
  margin-bottom: 2em;
}
@media only screen and (min-width: 768px) {
  .cd-tabs-content {
    min-height: 480px;
	width: 100%;

  }
  .cd-tabs-content li {
    padding: 2em 2em 2em 7em;
  }
  .cd-tabs-content img {
    width: 100%;
}
}
@media only screen and (min-width: 960px) {
  .cd-tabs-content {
    min-height: 0;
	padding: 0;
  }
  .cd-tabs-content li {
    padding: 0;
  }
  .cd-tabs-content li p {
    font-size: 16px;
    font-size: 1rem;
  }
}

@-webkit-keyframes cd-fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes cd-fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes cd-fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
