
.attribution {
	padding: 3em 0;
	text-align: center;
	color: #fff;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
}
.attribution a {
	color: #fff;
}
/* Header Style */
.ddn-top {
	line-height: 60px;
	font-size: 11px;
	text-transform: uppercase;
	z-index: 9999;
	position: relative;
	background: #ED3131;
	-webkit-font-smoothing: antialiased;
	-webkit-box-shadow: inset 0 0 2.75em rgba(0,0,0,.5);
	/* 300 */
	-moz-box-shadow: inset 0 0 2.75em rgba(0,0,0,.5);
	/* 300 */
	box-shadow: inset 0 0 2.75em rgba(0,0,0,.5);/* 300 */
}
.ddn-top a {
	padding: 0px 10px;
	letter-spacing: 1px;
	color: #fff;
	display: table;
	margin: 0 auto;
	text-decoration: none;
}
.ddn-top a:hover {
	background: rgba(255,255,255,0.8);
	color: #000;
}
.ddn-top span.right {
	float: right;
}
.ddn-top span.right a {
	float: left;
	display: block;
}
.bx-wrapper .testimonials-thumbnail {
	margin: 0px 0px 15px;
}
.bx-wrapper .testimonials-title {
	text-align: center;
	margin: 25px 15px 3px;
	font-size: 24px;
	line-height: 1;
}
.bx-wrapper .testimonials-carousel-thumbnail {
	max-width: 35%;
	float: left;
	margin-right: 20px;
}
.bx-wrapper .testimonials-carousel-thumbnail img {
	display: block;
	margin-right: 20px;
	width: 100px;
}
.bx-wrapper .testimonials-carousel-context {
	overflow: hidden;
	float: left;
	margin-top: 24px;
}
.bx-wrapper .testimonials-name {
	font-size: 18px;
	margin-bottom: 15px;
	color: #000000;
	font-weight: 400;
}
.bx-wrapper span {
	font-size: 13px;
	color: #7e7e7e;
	font-weight:300;
}
.bx-wrapper {
	position: relative;
	/*margin: 30px auto;*/
	padding: 0;
	width: 100%;
	*zoom: 1;
	padding: 30px 0;
}
.bx-wrapper .slide {
	padding: 0;
	margin: 0;
	display: block;
}
.bx-wrapper .bx-viewport {
	padding: 10px;
	margin-left: 0;
	z-index: 1;
	width: 100%;
}
.bx-wrapper .bx-pager, .bx-wrapper .bx-controls-auto {
	position: absolute;
	display: none;
	bottom: -30px;
	width: 100%;
}
.bx-wrapper .bx-loading {
	min-height: 50px;
	background: url(images/bx_loader.gif) center center no-repeat #fff;
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2000;
}
.bx-wrapper .bx-pager {
	text-align: center;
	font-size: .85em;
	font-weight: bold;
	color: #666;
	padding-top: 20px;
}
.bx-wrapper .bx-pager .bx-pager-item, .bx-wrapper .bx-controls-auto .bx-controls-auto-item {
	display: inline-block;
	*zoom: 1;
	*display: inline;
}
.bx-wrapper .bx-pager.bx-default-pager a {
	background: #666;
	text-indent: -9999px;
	display: block;
	width: 10px;
	height: 10px;
	margin: 0 5px;
	outline: 0;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}
.bx-wrapper .bx-pager.bx-default-pager a:hover, .bx-wrapper .bx-pager.bx-default-pager a.active {
	background: #000;
}
.bx-wrapper .bx-next {
	position: absolute;
	top: 0;
	right: 0;
	width: 30px;
	height: 30px;
	cursor: pointer;
	background: #F3F3F300  url(../../images/caousel-next.png) no-repeat 0 0;
}
.bx-wrapper .bx-prev {
	position: absolute;
	top: 0px;
	right: 30px;
	width: 15px;
	height: 30px;
	cursor: pointer;
	background: #F3F3F300  url(../../images/caousel-prev.png)no-repeat 0 0;
}
.bx-wrapper .bx-controls-direction a {
	position: absolute;
	top: 0;
	margin-top: 0;
	margin-right: 0px;
	outline: 0;
	width: 15px;
	height: 30px;
	text-indent: -9999px;
	z-index: 9999;
	margin-right: 4px;
}
.bx-controls-direction{
	position:relative;
	margin-top:15px;
	}
.testimonials-carousel-content p{
	font-size:16px;
	font-style:italic;
	
	}
 @media only screen and ( max-width: 32.5em ) /* 520 */ {
 #wrapper {
	width: 100%;
	height: auto;
	position: static;
	padding: 3.125em 1.25em; /* 50 20 */
	margin: 0;
}
}
